.masalar{
	margin-top: 25px;
}
.mButon{
	width: 150px;
	height: 150px;
}
.altmenu{
	margin-top: 50px;
}
.sButon{
	width: 150px;
	height: 100px;
	border-radius: 15px;
	color: white;
	background-color: lightblue;

}
.gIslem{
	margin-top: 50px;
}